body {
    max-width: 960px;
    padding-left: 2%;
    padding-right: 2%;
}

table {
    table-layout: fixed;
    border-collapse: collapse;
}

tr {
    padding-top: 5px;
    padding-bottom: 5px;
}

#main-title {
    font-family: 'EB Garamond', serif;
    color: black;
    font-size: 42px;
    padding: 20px 0px 0px 15px;
}

.time {
    color: #9c48aaff;
    font-weight: 500;
    text-align: center;
    padding-top: 1px;
    padding-bottom: 1px;
}

.money {
    color: #66cbeeff;
    font-weight: 500;
    text-align: center;
    padding-top: 1px;
    padding-bottom: 1px;
}

.black-bg {
    font-family: 'Scada', sans-serif;
    color: white;
    background-color: black;
}

.menu-bar {
  padding: 20px;
  font-size: 20px !important;
  border: 1px solid black;
  border-radius: 20px;
}

.menu-bar:hover {
  padding: 20px;
  font-size: 20px !important;
  border: 1px solid darkgray;
  border-radius: 20px;
}

.menu-bar img {
  filter: invert(76%) sepia(11%) saturate(2129%) hue-rotate(161deg) brightness(97%) contrast(93%);
}

.menu-bar:hover img {
  filter: invert(33%) sepia(78%) saturate(802%) hue-rotate(253deg) brightness(89%) contrast(85%);
}

.no-line {
  text-decoration: none;
}

#gender {
    font-family: 'EB Garamond', serif;
    font-size: 24px;
    color: white;
    background-color: black;
    text-align: left;
    padding: 15px 0px 15px 30px;
}

img {
    width: 22px;
    height: 22px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.row__service {
    color: black;
    font-weight: 700;
    padding-top: 20px;
    padding-bottom: 5px;
    padding-left: 20px;
}

.service {
    color: black;
    font-weight: 400;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 20px;
}

.menu-main-title {
  text-align: center;
  font-family: 'EB Garamond', serif;
  color: black;
  font-size: 42px;
  padding: 20px 0px 0px 15px;
}

.service-time-money {
    font-family: 'Roboto', sans-serif;
}

.sign {
    font-family: 'Roboto', sans-serif;;
    color: white;
    font-weight: 200;
    font-size: 12px;
    text-align: center;
    margin: 20px 10px 0px 10px;
}

.sign figcaption {
    margin: -10px 10px 10px 10px;
}

/* DIRTY Responsive pricing table CSS */

/* 
- make mobile switch sticky
*/
* {
    box-sizing:border-box;
    padding:0;
    margin:0;
     outline: 0;
  }
  article {
    width:100%;
    max-width:1000px;
    margin:0 auto;
    height:1000px;
    position:relative;
  }
  ul {
    display:flex;
    top:0px;
    z-index:10;
    padding-bottom:14px;
  }
  li {
    list-style:none;
    flex:1;
  }
  li:last-child {
    border-right:1px solid #DDD;
  }
  button {
    width:100%;
    border: 1px solid #DDD;
    border-right:0;
    border-top:0;
    padding: 10px;
    background:#FFF;
    font-size:14px;
    font-weight:bold;
    height:60px;
    color:#999
  }
  li.active button {
    background:#F5F5F5;
    color:#000;
  }
  table { border-collapse:collapse; table-layout:fixed; width:100%; }
  th { background:#F5F5F5; display:none; }
  td, th {
    height: 20px;
  }
  td,th { border:0px solid #DDD; padding: 0px; empty-cells:show; }
  td,th {
    text-align:left;
  }
  td+td, th+th {
    text-align:center;
    display:none;
  }
  td.default {
    display:table-cell;
  }
  .bg-purple {
    border-top:3px solid #A32362;
  }
  .bg-blue {
    border-top:3px solid #0097CF;
  }
  .sep {
    background:#F5F5F5;
    font-weight:bold;
  }
  .txt-l { font-size:28px; font-weight:bold; }
  .txt-top { position:relative; top:-9px; left:-2px; }
  .tick { font-size:18px; color:#2CA01C; }
  .hide {
    border:0;
    background:none;
  }
  
  @media (min-width: 640px) {
    ul {
      display:none;
    }
    td,th {
      display:table-cell !important;
    }
    td,th {
      width: 330px;
    
    }
    td+td, th+th {
      width: auto;
    }
  }