#black-square {
   background-color: black;
}

#title-section {
    font-family: 'EB Garamond', serif;
    color: black;
}

#desc-block {
    font-family: 'EB Garamond', serif;
    font-size: 20px;
    color: white;
    background-color: black;
    text-align: left;
    padding: 25px 0px 25px 25px;
}

#icon-block {
    font-family: 'Scada', sans-serif;
    color: white;
    background-color: black;
}

.black-bg {
    font-family: 'Scada', sans-serif;
    color: white;
    background-color: black;
}

#regular-text {
    font-family: 'Scada', sans-serif;
    color: black;
}

.row__service {
    color: black;
    font-weight: 500;
}

.sign {
    font-family: 'Roboto', sans-serif;;
    color: white;
    font-weight: 100;
    font-size: 12px;
    text-align: center;
    margin: 20px 10px 0px 10px;
}

.sign figcaption {
    margin: -10px 10px 10px 10px;
}

img {
    width: 22px;
    height: 22px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}